//
   Created by mafu on 5/23/17.

doctype
html(lang="en")
    head
        include layout/head
    body
        include layout/navbar
        center
        .row
            .col-md-4.col-md-offset-4.login-container
                .login-panel
                    form.signin-form(method="post",action="/admin/add_article")
                        label.col-lg-2.control-label Title
                        input.form-control(name="title",id="title",type="text")
                        label.col-lg-2.control-label author
                        input.form-control(name="author",id="author",type="text")
                        label.col-lg-2.control-label text
                        textarea.form-control(rows="5",id="message",name="message" placeholder="")
                        button.btn.btn-primary.btn-block(type="submit") subbmit
        include layout/footer