

nav.navbar.navbar-inverse
    .container-fluid
        .navbar-header
            a.navbar-brand(href="/") Shuyaoyimei
        div.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li: a(href="/") Blog
                li: a(href="") Tags
                li: a(href="") Project
                li: a(href="") About
